*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;    
}

.navbar{
    border: 1px solid  transparent;
    background-color: #f3f3f3;
    display: flex;
    height:80px;
    justify-content: space-around;
    align-items: center ;
}
ul{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 30px;
    letter-spacing:0.5px;
    font-size:18px;
    text-transform: capitalize;
    list-style: none;
}

.cart>i{
  font-size:25px;
}
.logo_1{
    width: 150px;
}
.home{
    color: red;
}
li:hover{
    color: red;
}
.bg_1{
    width: 100%;
    object-fit: cover;
    height:600px;
}

/* Navbar_End_code */

.Ouer_stroy_slider {
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
}

.ouer_slide_child {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: fade 12s infinite ease-in-out;
}

.ouer_slide_child img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ouer_slide_child:nth-child(1) {
  animation-delay: 0s;
}
.ouer_slide_child:nth-child(2) {
  animation-delay: 3s;
}
.ouer_slide_child:nth-child(3) {
  animation-delay: 6s;
}
.ouer_slide_child:nth-child(4) {
  animation-delay: 9s;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.heading{
  text-align: center;
  margin:40px 0px;
  font-weight: normal;
  font-size:40px;
}
/* SLIDER_CODE_END */