*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;    
}
.parents{
  background-color: rgb(248, 234, 208);
}
li{
  font-size: 20px;
}
.navbar{
    border: 1px solid  transparent;
    background-color: #f3f3f3;
    display: flex;
    height:80px;
    justify-content: space-around;
    align-items: center ;
}
ul{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 30px;
    letter-spacing:0.5px;
    font-size:18px;
    text-transform: capitalize;
    list-style: none;
}

.cart>i{
  font-size:25px;
}
.logo_1{
    width: 150px;
}
.home{
    color: red;
}
li:hover{
    color: red;
}
.bg_1{
    width: 100%;
    object-fit: cover;
    height:600px;
}

/* Navbar_End_code */

.Ouer_stroy_slider {
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
}

.ouer_slide_child {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: fade 12s infinite ease-in-out;
}

.ouer_slide_child img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ouer_slide_child:nth-child(1) {
  animation-delay: 0s;
}
.ouer_slide_child:nth-child(2) {
  animation-delay: 3s;
}
.ouer_slide_child:nth-child(3) {
  animation-delay: 6s;
}
.ouer_slide_child:nth-child(4) {
  animation-delay: 9s;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.heading{
  text-align: center;
  margin:50px 0px;
  font-weight: normal;
  font-size:40px;
}
/* SLIDER_CODE_END */

.img_2{
  width:330px;
  height:270px;
}
p{
  width:330px;
  height:60px;
  font-size:21px;
  text-transform: capitalize;
  border: 1px solid rgb(104, 102, 102);
  text-align: center;
  padding:15px 0px;
  /* word-spacing:2px; */
  letter-spacing:1px;
  border-left: none;
  border-right: none;
  margin-top:15px;
  margin-bottom:50px;
}
.img_catsweet{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   justify-items: center;
   align-content: center;
   margin: 0px 30px;
}
.heading_2{
  text-align: center;
  text-transform: capitalize;
  font-weight: normal;
  font-size: 35px;
  word-spacing:2px;
  letter-spacing: 1px;
}
.Wedding_div_1>video{
  height: 450px;
  border-radius: 15px;
}
.Wedding_div_2{
  width: 600px;
  height:450px;
  padding: 40px 60px;
  border-radius: 20px;
  background-color: rgb(158, 81, 30)
}
.Wedding_div{
  display: flex;
  justify-content:center;
  margin:50px 0px;
  gap:30px;
  align-items: center;
}
h6{
  font-size:45px;
  padding-bottom: 30px;
  color: #f3f3f3;
  font-weight: normal;

}
input{
  width:450px;
  border-radius: 10px;
  height: 58px;
  font-size:17px;
  padding-left: 20px;
  border: none;
  color: #fdfcfc;
  background-color: rgb(214, 177, 144);
  text-transform: uppercase;

}
button{
  width:130px;
  font-size: 17px;
  color: rgb(39, 38, 38);
  border: none;
  background-color:rgb(235, 150, 54);
  letter-spacing:1px;
  text-transform: capitalize;
  height:50px;
  border-radius:10px;
  margin: 4px 0px;
}

.Flavours_div{
  height:750px;
  margin:70px 0px;
  background-color: rgb(169, 196, 184);
}
.Flavours_div1{
  display: flex;
  justify-content: center;
  align-items:center;
}
.text_1{
  font-size:45px;
  margin:35px 0px;
  padding: 20px 30px;
  color: rgb(140, 41, 21);
}

/*  */
.img_4{
  width:200px;
  height:180px;
}

.Flavours_div3{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-items: center;
  align-content: center;
  gap:30px;
  margin:0px 300px;
  text-align: center;
}
.Flavours_text{
  font-size: 16px;
  text-transform:uppercase;
  letter-spacing:0.5px;
  padding: 10px 0px;
}
.img_4:hover{
  border-radius: 50%;
  transition: all ease-in-out 0.5s;
}
/*  */

.Featured{
  font-size:25px;
  text-transform: capitalize;
  text-align: center;
  word-spacing: 2px;
  padding:15px 0px;
}
h2{
  font-size:40px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-weight: normal;

}
.golo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:110px;
  margin:10px 0px;
}

/* footer */
hr{
  margin:40px 0px;
}
.Sign{
  font-size:40px;
  margin:0px 50px;
  margin-top:60px;
  letter-spacing: 1px;
  text-transform: capitalize;
  word-spacing: 2px;
}

.footer_div3{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0px 50px;
  margin-top:7px;
  margin-bottom:70px;
}
.email_div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer_text{
  font-size:30px;

  color: rgb(105, 105, 104);
}
.email_inpu{
  border: 1px solid rgb(105, 105, 104);
  width:430px;
  border-radius: 10px;
  height:60px;
  font-size:20px;
  padding:18px 15px;
  word-spacing: 1px;
  letter-spacing:0.5px;
  font-weight: bold;
}
.subscribe{
  width:200px;
   height:60px;
   background-color: black;
   text-transform: uppercase;
   color: #fdfcfc;
}

.complaints{
  font-size:30px;
  margin: 20px 0px;
}
.text4{
  font-size: 25px;
   color: rgb(105, 105, 104);
   word-spacing: 2px;
  margin-bottom: 20px;
  line-height:35px;

}
.text3{
  font-size:21px;
  padding: 20px 0px;
  font-weight: bold;
}
.Address{
  color: black;
  font-size: 26px;
}
.footer_div4{
  display: flex;
  margin: 0px 50px;
  justify-content: space-between;
  align-items: center;
}
.footer_child2{
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
}
.email1,.GST,.call{
  font-size:22px;
  margin-bottom: 10px;
   color: rgb(105, 105, 104);
}
.span1{
  font-size: 25px;
  text-transform: uppercase;
  
}
.text5{
  font-size:25px;
  color: rgb(105, 105, 104);
  margin-top: 15px;
  text-transform: capitalize;
}
.fonticon{
  display: flex;
  margin:0px 50px;
  margin-top: 40px;
  /* padding-bottom:20px; */
  justify-content: start;
  align-items: start;
  gap:30px;
  font-size:25px;
  color: rgb(55, 55, 55);
}
.footer_parents{
  margin: 30px 0px;
}
.Copyright{
  text-align:center;
  font-size:32px;
  word-spacing: 2px;
  padding-bottom:30px;
}