*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;    
}

.navbar{
    border: 1px solid  transparent;
    background-color: #f3f3f3;
    display: flex;
    height:80px;
    justify-content: space-around;
    align-items: center ;
}
ul{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 30px;
    letter-spacing:0.5px;
    font-size:18px;
    text-transform: capitalize;
    list-style: none;
}

.cart>i{
  font-size:25px;
}
.logo_1{
    width: 150px;
}
.home{
    color: red;
}
li:hover{
    color: red;
}
.bg_1{
    width: 100%;
    object-fit: cover;
    height:600px;
}

/* Navbar_End_code */

.Ouer_stroy_slider {
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
}

.ouer_slide_child {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: fade 12s infinite ease-in-out;
}

.ouer_slide_child img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ouer_slide_child:nth-child(1) {
  animation-delay: 0s;
}
.ouer_slide_child:nth-child(2) {
  animation-delay: 3s;
}
.ouer_slide_child:nth-child(3) {
  animation-delay: 6s;
}
.ouer_slide_child:nth-child(4) {
  animation-delay: 9s;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.heading{
  text-align: center;
  margin:50px 0px;
  font-weight: normal;
  font-size:40px;
}
/* SLIDER_CODE_END */

.img_2{
  width:330px;
  height:270px;
}
p{
  width:330px;
  height:60px;
  font-size:21px;
  text-transform: capitalize;
  border: 1px solid rgb(104, 102, 102);
  text-align: center;
  padding:15px 0px;
  /* word-spacing:2px; */
  letter-spacing:1px;
  border-left: none;
  border-right: none;
  margin-top:15px;
  margin-bottom:50px;
}
.img_catsweet{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   justify-items: center;
   align-content: center;
   margin: 0px 30px;
}
.heading_2{
  text-align: center;
  text-transform: capitalize;
  font-weight: normal;
  font-size: 35px;
}
.Wedding_div_1>video{
  height: 400px;
}
.Wedding_div_2{
  width: 600px;
  height:400px;
  border: 1px solid black;
  background-color: rgb(158, 81, 30)
}
.Wedding_div{
  display: flex;
  border: 1px solid black;
  justify-content:space-between;
  align-items: center;
}
h6{
  font-size:36px;
  color: #f3f3f3;
  font-weight: normal;

}